

    <div class="row">
          
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
              <div class="card mt-4 mb-4">
                <div class="card-body">
              <!-- Biodata Form -->
              <form class="biodataForm" (ngSubmit)="addBiodata()" [formGroup]="biodataGroup" id="biodataform" novalidate>
                <div class="form-group mb-3">
                  <label for="firstName">First Name</label>
                  <input type="text" class="form-control" formControlName="first_name"
                    [ngClass]="{'is-invalid':submitted && emailid['first_name'].errors}" placeholder="First Name">
                  <div *ngIf="submitted && emailid['first_name'].errors" class="show-error">
                    <div *ngIf="submitted && emailid['first_name'].errors">First name field cannot be empty</div>
                  </div>
                </div>

                <div class="form-group mb-3">
                  <label for="lastName">Last Name</label>
                  <input type="text" class="form-control" formControlName="last_name"
                    [ngClass]="{'is-invalid':submitted && emailid['last_name'].errors}" placeholder="Last Name">
                  <div *ngIf="submitted && emailid['last_name'].errors" class="show-error">
                    <div *ngIf="submitted && emailid['last_name'].errors">Last name field cannot be empty</div>
                  </div>
                </div>

                <div class="form-group mb-3">
                  <label for="otherName">Other Names</label>
                  <input type="text" class="form-control" formControlName="other_name" placeholder="Other Name">
                </div>

                <div class="form-group mb-3">
                  <label for="sex">Gender</label>
                  <select class="form-select form-control" formControlName="gender"
                    [ngClass]="{'is-invalid':submitted && emailid['gender'].errors}" aria-label="label for the select">
                    <option value="" disabled selected hidden>--Select--</option>
                    <option>Male</option>
                    <option>Female</option>
                  </select>
                  <div *ngIf="submitted && emailid['gender'].errors" class="show-error">
                    <div *ngIf="submitted && emailid['gender'].errors">Select something</div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-4">
                    <div class="form-group mb-3">
                      <label for="dateOfBirth">Date of birth</label>
                      <input type="date" class="form-control" formControlName="date_of_birth"
                        [ngClass]="{'is-invalid':submitted && emailid['date_of_birth'].errors}"
                        placeholder="Date of birth">
                      <div *ngIf="submitted && emailid['date_of_birth'].errors" class="show-error">
                        <div *ngIf="submitted && emailid['date_of_birth'].errors">Date field cannot be empty</div>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-2"></div>

                  <div class="col-sm-4">
                    <label for="are_you_a_member_label" class="are_you_a_member_label">Are you a member?</label>
                    <div class="form-check form-check-inline"
                      [ngClass]="{'is-invalid':submitted && emailid['is_member'].errors}">
                      <input class="form-check-input" type="radio" name="is_member" id="is_member" value="true"
                        formControlName="is_member" aria-label="label for the input">
                      <label class="form-check-label" for="yes">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="is_member" id="is_member" value="false"
                        formControlName="is_member" aria-label="label for the input">
                      <label class="form-check-label" for="yes">No</label>
                    </div>
                    <div *ngIf="submitted && emailid['is_member'].errors" class="show-error">
                      <div *ngIf="submitted && emailid['is_member'].errors">Select something</div>
                    </div>
                  </div>
                </div>

                <div class="form-group mb-3">
                  <label for="email">Email</label>
                  <input type="email" class="form-control" formControlName="email"
                    [ngClass]="{'is-invalid':submitted && emailid['email'].errors}" placeholder="Email">
                  <div *ngIf="submitted && emailid['email'].errors" class="show-error">
                    <div *ngIf="submitted && emailid['email'].errors">Email field cannot be empty or invalid</div>
                  </div>
                </div>

                <div class="form-group mb-3">
                  <label for="placeOfBirth">Place of birth</label>
                  <input type="text" class="form-control" formControlName="place_of_birth" placeholder="Place of birth">
                </div>

                <div class="form-group mb-3">
                  <label for="homeTown">Hometwon</label>
                  <input type="text" class="form-control" formControlName="home_town"
                    [ngClass]="{'is-invalid':submitted && emailid['home_town'].errors}" placeholder="Hometown">
                  <div *ngIf="submitted && emailid['home_town'].errors" class="show-error">
                    <div *ngIf="submitted && emailid['home_town'].errors">Select something</div>
                  </div>
                </div>

                <div class="form-group mb-3">
                  <label for="postalAddress">Postal address</label>
                  <input type="text" class="form-control" formControlName="postal_address" placeholder="Postal Address">
                </div>

                <div class="form-group mb-3">
                  <input type="text" class="form-control" formControlName="residential_address"
                    [ngClass]="{'is-invalid':submitted && emailid['residential_address'].errors}"
                    placeholder="Residential Address">
                  <div *ngIf="submitted && emailid['residential_address].errors']" class="show-error">
                    <div *ngIf="submitted && emailid['residential_address'].errors">Residential address field cannot be
                      empty</div>
                  </div>
                </div>

                <div class="form-group mb-3">
                  <label for="occupation">Occupation</label>
                  <input type="text" class="form-control" formControlName="occupation" placeholder="Occupation">
                </div>

                <div class="form-group mb-3">
                  <label for="maritalStatus">Marital Status</label>
                  <select class="form-select form-control" formControlName="marital_status"
                    [ngClass]="{'is-invalid':submitted && emailid['marital_status'].errors}" aria-label="label for the select">
                    <option value="" disabled selected hidden>--Select--</option>
                    <option va>Single</option>
                    <option>Married</option>
                    <option>Divorced</option>
                    <option>Separated</option>
                    <option>Widowed</option>
                  </select>
                  <div *ngIf="submitted && emailid['marital_status'].errors" class="show-error">
                    <div *ngIf="submitted && emailid['marital_status'].errors">Select something</div>
                  </div>
                </div>


                <div class="form-group mb-3">
                  <label for="region">Which region is the church?</label>
                  <select class="form-select form-control" formControlName="region"
                    [ngClass]="{'is-invalid':submitted && emailid['region'].errors}" aria-label="label for the select">
                    <option value="" disabled selected hidden>--Select--</option>
                    <option>{{region}}</option>
                  </select>
                  <div *ngIf="submitted && emailid['region'].errors" class="show-error">
                    <div *ngIf="submitted && emailid['region'].errors">Select something</div>
                  </div>
                </div>

                <div class="form-group mb-3">
                  <label for="region">Which branch do you attend?</label>
                  <select class="form-select form-control" formControlName="branch"
                    [ngClass]="{'is-invalid':submitted && emailid['branch'].errors}" aria-label="label for the select">
                    <option value="" disabled selected hidden>--Select--</option>
                    <option>{{branch}}</option>
                  </select>
                  <div *ngIf="submitted && emailid['branch'].errors" class="show-error">
                    <div *ngIf="submitted && emailid['branch'].errors">Select something</div>
                  </div>
                </div>

                <div class="form-group mb-3">
                  <label for="numberOfChildren">Number of Children</label>
                  <input type="text" class="form-control" formControlName="number_of_children"
                    [ngClass]="{'is-invalid':submitted && emailid['number_of_children'].errors}"
                    placeholder="Number of childern">
                  <div *ngIf="submitted && emailid['number_of_children'].errors" class="show-error">
                    Number of children field cannot be empty
                  </div>
                </div>

                <div class="row">
                  <div class="col-4">
                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                  </div>
                </div>
              </form>
            
        </div>
      </div>
    </div>
  </div>
  