<body>
  <div class="hold-transition login-page">
    <div class="login-box">
      <div class="login-logo">
      </div>

      <div class="card mt-4">
        <div class="card-body login-card-body">


          <div class="row">
            <div class="col-6 data_tabs">
              <a class="nav-link a_tabs" id="biodatabutton">Biodata</a>
            </div>
            <div class="col-6 data_tabs a_contact">
              <a class="nav-link a_tabs" id="contactbutton">Contact</a>
            </div>
          </div>

          <!-- Biodata Form -->
          <form (ngSubmit)="addBiodata()" [formGroup]="biodataGroup" novalidate>
            <div class="form-group mb-3">
              <input type="text" class="form-control" formControlName="first_name" [ngClass]="{'is-invalid':submitted && emailid['first_name'].errors}" placeholder="First Name">
              <div *ngIf="submitted && emailid['first_name'].errors" class="show-error">
                <div *ngIf="submitted && emailid['first_name'].errors">First name field cannot be empty</div>
            </div>
            </div>

            <div class="form-group mb-3">
              <input type="text" class="form-control" formControlName="last_name" [ngClass]="{'is-invalid':submitted && emailid['last_name'].errors}"  placeholder="Last Name">
              <div *ngIf="submitted && emailid['last_name'].errors" class="show-error">
                <div *ngIf="submitted && emailid['last_name'].errors">Last name field cannot be empty</div>
            </div>
            </div>

            <div class="form-group mb-3">
              <input type="text" class="form-control" formControlName="other_name" [ngClass]="{'is-invalid':submitted && emailid['other_name'].errors}"  placeholder="Other Name">
              <div *ngIf="submitted && emailid['other_name'].errors" class="show-error">
                <div *ngIf="submitted && emailid['other_name'].errors">Other name field cannot be empty</div>
            </div>
            </div>

            <div class="form-group mb-3">
              <select class="form-select form-control" formControlName="gender" [ngClass]="{'is-invalid':submitted && emailid['gender'].errors}">
                <option value="" disabled selected hidden>Gender</option>
                <option>Male</option>
                <option>Female</option>
              </select>
              <div *ngIf="submitted && emailid['gender'].errors" class="show-error">
                <div *ngIf="submitted && emailid['gender'].errors">Select something</div>
            </div>
            </div>

            <div class="form-group mb-3">
              <input type="date" class="form-control" formControlName="date_of_birth" [ngClass]="{'is-invalid':submitted && emailid['date_of_birth'].errors}"  placeholder="Date of birth">
              <div *ngIf="submitted && emailid['date_of_birth'].errors" class="show-error">
                <div *ngIf="submitted && emailid['date_of_birth'].errors">Date field cannot be empty</div>
            </div>
            </div>

            <div class="form-group mb-3">
              <input type="email" class="form-control" formControlName="email1" [ngClass]="{'is-invalid':submitted && emailid['email1'].errors}"  placeholder="Email">
              <div *ngIf="submitted && emailid['email1'].errors" class="show-error">
                  <div *ngIf="submitted && emailid['email1'].errors">Email field cannot be empty</div>
              </div>
            </div>

            <div class="form-group mb-3">
              <input type="text" class="form-control" formControlName="place_of_birth" [ngClass]="{'is-invalid':submitted && emailid['place_of_birth'].errors}"  placeholder="Place of birth">
              <div *ngIf="submitted && emailid['place_of_birth'].errors" class="show-error">
                <div *ngIf="submitted && emailid['place_of_birth'].errors">Place of birth field cannot be empty</div>
            </div>
            </div>

            <div class="form-group mb-3">
              <input type="text" class="form-control" formControlName="home_town" [ngClass]="{'is-invalid':submitted && emailid['home_town'].errors}"  placeholder="Hometown">
              <div *ngIf="submitted && emailid['home_town'].errors" class="show-error">
                <div *ngIf="submitted && emailid['home_town'].errors">Select something</div>
            </div>
            </div>

            <div class="form-group mb-3">
              <select class="form-select form-control" formControlName="region" [ngClass]="{'is-invalid':submitted && emailid['region'].errors}">
                <option value="" disabled selected hidden>Region</option>
                <option>{{region}}</option>
              </select>
              <div *ngIf="submitted && emailid['region'].errors" class="show-error">
                <div *ngIf="submitted && emailid['region'].errors">Select something</div>
            </div>
            </div>

            <div class="form-group mb-3">
              <input type="text" class="form-control" formControlName="postal_address" [ngClass]="{'is-invalid':submitted && emailid['postal_address'].errors}"  placeholder="Postal Address">
              <div *ngIf="submitted && emailid['postal_address'].errors" class="show-error">
                <div *ngIf="submitted && emailid['postal_address'].errors">Postal address field cannot be empty</div>
            </div>
            </div>

            <div class="form-group mb-3">
              <input type="text" class="form-control" formControlName="residential_address" [ngClass]="{'is-invalid':submitted && emailid['residential_address'].errors}"  placeholder="Residential Address">
              <div *ngIf="submitted && emailid['residential_address].errors']" class="show-error">
                <div *ngIf="submitted && emailid['residential_address'].errors">Residential address field cannot be empty</div>
            </div>
            </div>

            <div class="form-group mb-3">
              <input type="text" class="form-control" formControlName="occupation" [ngClass]="{'is-invalid':submitted && emailid['occupation'].errors}"  placeholder="Occupation">
              <div *ngIf="submitted && emailid['occupation'].errors" class="show-error">
                <div *ngIf="submitted && emailid['occupation'].errors">Occupation field cannot be empty</div>
            </div>
            </div>

            <div class="form-group mb-3">
              <select class="form-select form-control" formControlName="is_member" [ngClass]="{'is-invalid':submitted && emailid['is_member'].errors}">
                <option value="" disabled selected hidden>Are you a member?</option>
                <option>Yes</option>
                <option>No</option>
              </select>
              <div *ngIf="submitted && emailid['is_member'].errors" class="show-error">
                <div *ngIf="submitted && emailid['is_member'].errors">Select something</div>
            </div>
            </div>

            <div class="form-group mb-3">
              <select class="form-select form-control" formControlName="marital_status" [ngClass]="{'is-invalid':submitted && emailid['marital_status'].errors}">
                <option value="" disabled selected hidden>Marital Status</option>
                <option>Single</option>
                <option>Married</option>
                <option>Divorced</option>
                <option>Separated</option>
                <option>Widowed</option>
              </select>
              <div *ngIf="submitted && emailid['marital_status'].errors" class="show-error">
                <div *ngIf="submitted && emailid['marital_status'].errors">Select something</div>
            </div>
            </div>

            <div class="form-group mb-3">
              <select class="form-select form-control" formControlName="branch" [ngClass]="{'is-invalid':submitted && emailid['branch'].errors}">
                <option value="" disabled selected hidden>Branch</option>
                <option>{{branch}}</option>
              </select>
              <div *ngIf="submitted && emailid['branch'].errors" class="show-error">
                <div *ngIf="submitted && emailid['branch'].errors">Select something</div>
            </div>
            </div>

            <div class="form-group mb-3">
              <input type="text" class="form-control" formControlName="number_of_children" [ngClass]="{'is-invalid':submitted && emailid['number_of_children'].errors}"  placeholder="Number of childern">
              <div *ngIf="submitted && emailid['number_of_children'].errors" class="show-error">
                <div *ngIf="submitted && emailid['number_of_children'].errors">Number of children field cannot be empty</div>
            </div>
            </div>

            <div class="row">
              <div class="col-4">
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
              </div>
            </div>
          </form>


          <!-- Contact Form -->
          <form id="contactform" style="display: none;">
            <div class="input-group mb-3">
              <input type="email" class="form-control" placeholder="Phone Number" name="msisdn" ngModel>
              <div class="input-group-append">
                <div class="input-group-text">
                  <i class="bi bi-envelope-open"></i>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <select class="form-select form-control" name="marital_status" ngModel>
                <option value="" disabled selected hidden>Is it reachable on voice call?</option>
                <option>Yes</option>
                <option>No</option>
              </select>
            </div>
            <div class="input-group mb-3">
              <select class="form-select form-control" name="marital_status" ngModel>
                <option value="" disabled selected hidden>Is it reachable on whatsapp?</option>
                <option>Yes</option>
                <option>No</option>
              </select>
            </div>
            <div class="input-group mb-3">
              <select class="form-select form-control" name="marital_status" ngModel>
                <option value="" disabled selected hidden>Is it reachable on telegram?</option>
                <option>Yes</option>
                <option>No</option>
              </select>
            </div>
            <div class="row">
              <div class="col-4">
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>