.navbar{
    position: relative; /* usually the parent, in this case the body element, has position relative so that the absolute positioned child is positioned relative to it */
  margin: 0; /* recommended */
}

.nav-item a:hover {
    /* background-color: #ddd; */
    color: rgb(255, 255, 255);
}

.nav-item a.active{
    background-color: #04AA6D;
    color: white;
}

.a-logout{
    padding-right: 10px;
    margin-right: 30px;
}

.navbar-expand-lg{
    background-color: rgb(46, 200, 95);
}

.navbar-brand a.active {
    background-color: #04AA6D;
    color: white;
}

.navbar-brand {
    color: white;
    font: 35px bold Franklin Gothic Medium italic;  
    padding-top: 25px;
    top: 50%; /* moved down by 50% of the screen height */
    transform: translateY(-20%); /* moved back up (Y axis) by half of its height to achieve the perfect center */
    width: 100%; /* needs to be defined to keep the default block behavior */
 text-align: center;
 
}


a.navbar-brand{
    font-size: 30px;
 
}

p{
    text-align: center;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

@media (max-width: 998px) {
    a.navbar-brand{
        font-size: 20px;
        text-align: center;
      margin: 0 27.768%;
     
      
    }
}
