.details-modal{
    margin-left: 30%;
}

.form-control-plaintext{
    margin-left: 20%;
}

label{
    white-space: nowrap;
    text-align: right;
}

i.bi-printer{
    margin-left: 50%;
}

.addButton{
    align-items: center;
    margin: 10px;
    align-content: center;
    align-self: center;
    clear: both;
}

.listtodisplay{
    align-items: center;
    margin: 10px;
    align-content: center;
    align-self: center;
    clear: both;
}