.form-group {
    margin-left: 10%;
}

.printButton {
    width: 10%;
    align-self: center;
    margin-bottom: 10px;
}

label {
    margin-top: 8px;
    font-weight: bold;
}

i.bi-printer {
    align-self: center;
    width: fit-content;
}

.addButton {
    align-items: center;
    margin: 10px;
    align-content: center;
    align-self: center;
    clear: both;
}

.listtodisplay {
    align-items: center;
    margin: 10px;
    align-content: center;
    align-self: center;
    clear: both;
}

.modal-title {
    margin-left: 30%;
}

.details-card-body {
    background-color: rgb(208, 219, 212);
}