<div class="hold-transition login-page">
    <div class="login-box">
      <div class="login-logo">
      </div>
     
      <div class="card mt-4">
        <div class="card-body login-card-body">
  
          <form (ngSubmit)="onSubmit()" [formGroup]="forgotGroup">
            <div class="mb-3">
            <div class="input-group mb-3">
              <input type="email" class="form-control" formControlName="email" placeholder="Email" [ngClass]="{'is-invalid':submitted && f['email'].errors}">
              <div class="input-group-append">
                <div class="input-group-text">
                  <i class="bi bi-envelope-open"></i>
                </div>
              </div>
            </div>
            <div *ngIf="submitted && f['email'].errors" class="show-error">
              Empty or invalid
            </div>
          </div>
            
            <div class="row">
              <div class="col-4">
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
              </div>
            </div>
          </form>

        </div>
      
      </div>
    </div>
    
  </div>