<div class="hold-transition login-page">
    <div class="login-box">
      <div class="login-logo">
      </div>
     
      <div class="card mt-4">
        <div class="card-body login-card-body">
  
          <form (ngSubmit)="onSubmit(forgotForm)" #forgotForm="ngForm">
            <div class="input-group mb-3">
              <input type="email" class="form-control" placeholder="Email" name="email" ngModel>
              <div class="input-group-append">
                <div class="input-group-text">
                  <i class="bi bi-envelope-open"></i>
                </div>
              </div>
            </div>
            
            <div class="row">
              <div class="col-4">
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
              </div>
            </div>
          </form>

        </div>
      
      </div>
    </div>
    
  </div>