
  
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <div class="card mt-4 mb-4">
        <div class="card-body">
        <form (ngSubmit)="updateRecord()" [formGroup]="updateGroup" class="editForm">
          <div class="form-group mb-3">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" placeholder="First Name" formControlName="first_name"
              [ngClass]="{'is-invalid':submitted && u['first_name'].errors}">
            <div *ngIf="submitted && u['first_name'].errors" class="show-error">
              Empty or invalid
            </div>
          </div>

          <div class="form-group mb-3">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" placeholder="Last Name" formControlName="last_name"
              [ngClass]="{'is-invalid':submitted && u['last_name'].errors}">
            <div *ngIf="submitted && u['last_name'].errors" class="show-error">
              Empty or invalid
            </div>
          </div>

          <div class="form-group mb-3">
            <label for="otherName">Other Names</label>
            <input type="text" class="form-control" placeholder="Other Name" formControlName="other_name">
          </div>

          <div class="form-group mb-3">
            <label for="sex">Gender</label>
            <select class="form-select form-control" [ngClass]="{'is-invalid':submitted && u['gender'].errors}"
              formControlName="gender">
              <option value="" disabled selected hidden>--Select--</option>
              <option>Male</option>
              <option>Female</option>
            </select>
            <div *ngIf="submitted && u['gender'].errors" class="show-error">
              field cannot be empty
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <div class="form-group mb-3">
                <label for="dateOfBirth">Date of birth</label>
                <input type="date" class="form-control" formControlName="date_of_birth"
                  [ngClass]="{'is-invalid':submitted && u['date_of_birth'].errors}" placeholder="Date of birth">
                <div *ngIf="submitted && u['date_of_birth'].errors" class="show-error">
                  Date field cannot be empty
                </div>
              </div>
            </div>

            <div class="col-sm-2"></div>

            <div class="col-sm-4">
              <div class="form-group">
                <label for="are_you_a_member_label" class="are_you_a_member_label">Are you a member?</label>
                <div class="form-group"
                  [ngClass]="{'is-invalid':submitted && u['is_member'].errors}">
                  <input class="form-check-input" type="radio" name="is_member" id="is_member" [value]="true"
                    formControlName="is_member">
                  <label class="form-check-label" for="yes">Yes</label>
                </div>
                <div class="form-group form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="is_member" id="is_member" [value]="false"
                    formControlName="is_member">
                  <label class="form-check-label" for="yes">No</label>
                </div>
                <div *ngIf="submitted && u['is_member'].errors" class="show-error">
                  <div *ngIf="submitted && u['is_member'].errors">Select something</div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group mb-3">
            <label for="email">Email</label>
            <input type="email" class="form-control" placeholder="Email"
              [ngClass]="{'is-invalid':submitted && u['email'].errors}" formControlName="email">
            <div *ngIf="submitted && u['email'].errors" class="show-error">
              field cannot be empty
            </div>
          </div>

          <div class="form-group mb-3">
            <label for="placeOfBirth">Place of birth</label>
            <input type="text" class="form-control" placeholder="Place of birth"
              [ngClass]="{'is-invalid':submitted && u['place_of_birth'].errors}" formControlName="place_of_birth">
            <div *ngIf="submitted && u['place_of_birth'].errors" class="show-error">
              field cannot be empty
            </div>
          </div>

          <div class="form-group mb-3">
            <label for="homeTown">Hometown</label>
            <input type="text" class="form-control" placeholder="Hometown" formControlName="home_town"
              [ngClass]="{'is-invalid':submitted && u['home_town'].errors}">
            <div *ngIf="submitted && u['home_town'].errors" class="show-error">
              field cannot be empty
            </div>
          </div>

          <div class="form-group mb-3">
            <label for="postalAddress">Postal Address</label>
            <input type="text" class="form-control" placeholder="Postal Address" formControlName="postal_address">
          </div>

          <div class="form-group mb-3">
            <label for="residentialAddress">Residential Address</label>
            <input type="text" class="form-control" placeholder="Residential Address"
              formControlName="residential_address"
              [ngClass]="{'is-invalid':submitted && u['residential_address'].errors}">
            <div *ngIf="submitted && u['residential_address'].errors" class="show-error">
              field cannot be empty
            </div>
          </div>

          <div class="form-group mb-3">
            <label for="occuPation">Occupation</label>
            <input type="text" class="form-control" placeholder="Occupation" formControlName="occupation">
          </div>

          <div class="form-group mb-3">
            <label for="maritalStatus">Marital Status</label>
            <select class="form-select form-control" formControlName="marital_status"
              [ngClass]="{'is-invalid':submitted && u['marital_status'].errors}">
              <option value="" disabled selected hidden>--Select--</option>
              <option value="Single">Single</option>
              <option value="Married">Married</option>
              <option value="Divorced">Divorced</option>
              <option value="Separated">Separated</option>
              <option value="Widowed">Widowed</option>
            </select>
            <div *ngIf="submitted && u['marital_status'].errors" class="show-error">
              field cannot be empty
            </div>
          </div>


          <div class="form-group mb-3">
            <label for="reGion">Which region is the church?</label>
            <select class="form-select form-control" formControlName="region"
              [ngClass]="{'is-invalid':submitted && u['region'].errors}">
              <option value="" disabled selected hidden>--Select--</option>
              <option value="c5e76afb-ad28-4d84-ac5f-453928a5efb7">{{region}}</option>
            </select>
            <div *ngIf="submitted && u['region'].errors" class="show-error">
              field cannot be empty
            </div>
          </div>

          <div class="form-group mb-3">
            <label for="braNch">Which branch do you attend?</label>
            <select class="form-select form-control" formControlName="branch"
              [ngClass]="{'is-invalid':submitted && u['branch'].errors}">
              <option value="" disabled selected hidden>--Select--</option>
              <option value="f8f6061a-989a-4225-8c53-0a527fae3e7c">{{branch}}</option>
            </select>
            <div *ngIf="submitted && u['branch'].errors" class="show-error">
              field cannot be empty
            </div>
          </div>

          <div class="form-group mb-3">
            <label for="numberOfChildren">Number of children</label>
            <input type="text" class="form-control" placeholder="Number of childern"
              formControlName="number_of_children">
          </div>

          <div class="row">
            <div class="col-4">
              <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </div>
          </div>
        </form>
      </div>
      </div>
      <div class="col-sm-2"></div>
    </div>
</div>