/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

/* body{
    background-image: url("./assets/images/glc_background.jpg");
} */


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
